<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "head.html" . }}
</head>

<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
    {{- partialCached "header.html" . .Page -}}
    <main class="main">
        {{- block "main" . }}{{ end }}
    </main>
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}
    <script type="text/javascript">window.omnisend = window.omnisend || [];omnisend.push(["brandID", "6881e237b8cfe30333a65506"]);omnisend.push(["track", "$pageViewed"]);!function () {var e = document.createElement("script");e.type = "text/javascript", e.async = !0,e.src = "https://omnisnippet1.com/inshop/launcher-v2.js";var t = document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e, t)}();</script>
</body>

</html>
